<!DOCTYPE html>
<html>
   <head>
      <title>Hotelbuchungsvorhersage Tool</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <style>
         .gradient-text {
         font-family: 'Lobster', cursive;
         background: -webkit-linear-gradient(right, skyblue, #f06d06);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         }
         .form-group {
         margin-bottom: 0.5rem;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <h1 class="text-center my-4">Hotelbuchungsvorhersage Tool für <span class="gradient-text">StayAwhile</span></h1>
         <div class="row justify-content-center">
            <div class="col-lg-6">
               <form method="post">
                  <div class="row">
                     <div class="col">
                        <div class="form-group">
                           <label for="total_stay">Aufenthaltslänge in Tagen:</label>
                           <input type="number" class="form-control" id="total_stay" name="total_stay" min="1" required>
                        </div>
                        <div class="form-group">
                           <label for="total_guests">Anzahl der Gäste:</label>
                           <input type="number" class="form-control" id="total_guests" name="total_guests" min="1" required>
                        </div>
                        <div class="form-group">
                           <label for="lead_time">Vorlaufzeit in Tagen:</label>
                           <input type="number" class="form-control" id="lead_time" name="lead_time" min="0" required>
                        </div>
                        <div class="form-group">
                           <label for="arrival_month">Ankunftsmonat:</label>
                           <input type="number" class="form-control" id="arrival_month" name="arrival_month" min="1" max="12" required>
                        </div>
                        <div class="form-group">
                           <label for="type_of_meal_plan">Art der Verpflegung:</label>
                           <select class="form-control" id="type_of_meal_plan" name="type_of_meal_plan" required>
                              <option value="" selected disabled>Bitte auswählen</option>
                              <option value="Meal Plan 1">Meal Plan 1</option>
                              <option value="Meal Plan 2">Meal Plan 2</option>
                              <option value="Meal Plan 3">Meal Plan 3</option>
                              <option value="Not Selected">Nichts gewählt</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="required_car_parking_space">Parkplatz benötigt?:</label>
                           <select class="form-control" id="required_car_parking_space" name="required_car_parking_space" required>
                              <option value="" selected disabled>Bitte auswählen</option>
                              <option value="1">Ja</option>
                              <option value="0">Nein</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="repeated_guest">Wiederholter Gast?:</label>
                           <select class="form-control" id="repeated_guest" name="repeated_guest" required>
                              <option value="" selected disabled>Bitte auswählen</option>
                              <option value="1">Ja</option>
                              <option value="0">Nein</option>
                           </select>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label for="no_of_previous_cancellations">Anzahl vorheriger Stornierungen:</label>
                           <input type="number" class="form-control" id="no_of_previous_cancellations" name="no_of_previous_cancellations" min="0" required>
                        </div>
                        <div class="form-group">
                           <label for="no_of_previous_bookings_not_canceled">Anzahl vorheriger Besuche:</label>
                           <input type="number" class="form-control" id="no_of_previous_bookings_not_canceled" name="no_of_previous_bookings_not_canceled" min="0" required>
                        </div>
                        <div class="form-group">
                           <label for="avg_price_per_room">Preis:</label>
                           <input type="number" class="form-control" id="avg_price_per_room" name="avg_price_per_room" min="0" step="0.01">
                        </div>
                        <div class="form-group">
                           <label for="no_of_special_requests">Anzahl besonderer Anforderungen:</label>
                           <input type="number" class="form-control" id="no_of_special_requests" name="no_of_special_requests" min="0" required>
                        </div>
                        <div class="form-group">
                           <label for="room_type_reserved">Zimmertyp:</label>
                           <select class="form-control" id="room_type_reserved" name="room_type_reserved" required>
                              <option value="" selected disabled>Bitte auswählen</option>
                              <option value="Room Type 1">Room Type 1</option>
                              <option value="Room Type 2">Room Type 2</option>
                              <option value="Room Type 3">Room Type 3</option>
                              <option value="Room Type 4">Room Type 4</option>
                              <option value="Room Type 5">Room Type 5</option>
                              <option value="Room Type 6">Room Type 6</option>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="market_segment_type">Buchungsart:</label>
                           <select class="form-control" id="market_segment_type" name="market_segment_type" required>
                              <option value="" selected disabled>Bitte auswählen</option>
                              <option value="Complementary">Complementary</option>
                              <option value="Corporate">Corporate</option>
                              <option value="Aviation">Aviation</option>
                              <option value="Offline">Offline</option>
                              <option value="Online">Online</option>
                           </select>
                        </div>
                     </div>
                  </div>
               <button type="submit" class="btn btn-primary w-100">Absenden</button>
               </form>
               <div id="result" class="card mt-4" style="display: none;">
                  <div class="card-header">
                     <h2 class="card-title">Ergebnis</h2>
                  </div>
                  <div class="card-body">
                     <p class="card-text">Die Vorhersage ist, dass wahrscheinlich <span id="result-value" class="font-weight-bold"></span> Stornierung erfolgen wird</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    console.log("Script is running");
    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();  
            var formData = $(this).serialize();  
            $.post('/predict', formData, function(data) {
                $('#result-value').text(data.result);  

                if (data.result === 'keine') {
                    $('#result-value').addClass('bg-success');  
                    $('#result').addClass('bg-success'); 
                } else {
                    $('#result-value').addClass('bg-danger');  
                    $('#result').addClass('bg-danger'); 
                }

                $('#result').show();
            }, 'json')
            .fail(function(xhr, status, error) {
                console.log('Error:', error);
                console.log('Status:', status);
                console.log('XHR:', xhr);
            });
        });
    });
</script>
   </body>
</html>